<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_as7qDmRI5OUsUpURBi-q4Aa-k-j3puM</string>
	<key>GCM_SENDER_ID</key>
	<string>682810797194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatkuy</string>
	<key>PROJECT_ID</key>
	<string>chatkuy-3f559</string>
	<key>STORAGE_BUCKET</key>
	<string>chatkuy-3f559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682810797194:ios:afb5d39877bb3636cd5173</string>
</dict>
</plist>