name: ChatKuy

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.29.3"

      - name: Install dependencies
        run: flutter pub get

      - name: Generate with Build Runner
        run: flutter pub run build_runner build --delete-conflicting-outputs

      # - name: Analyze
      #   run: flutter analyze

      - name: Run flutter test
        run: flutter test

      - name: Build APK
        run: flutter build apk  --release --split-debug-info=build/flutter_mapping --build-number=${{ github.run_number }}

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk

  cd:
    name: Distribute APK
    needs: ci
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 10

      - name: Download APK Artifact
        uses: actions/download-artifact@v4
        with:
          name: app-release

      - name: Generate release notes
        run: |
          git log -5 --pretty=format:"- %s%n  by %an <%ae>%n" > release_notes.txt

      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          token: ${{ secrets.FIREBASE_TOKEN }}
          groups: testers
          file: app-release.apk
          releaseNotesFile: release_notes.txt
